<div class="carousel-container">
  <!-- Main Slider -->
  <div class="keen-slider" #sliderRef>
    <div *ngFor="let game of games; let i = index" class="keen-slider__slide" [ngClass]="'number-slide' + game.id">
      <div class="slide-content">
        <!-- Background image -->
        <a href="" class="slide-link">
          <div class="slide-media">
            <picture>
              <source media="(min-width: 1280px)" [srcset]="game.coverPicture?.mediaUrl 
                ? 'http://localhost:9000/nexus-backend/games/upload/download/' + game.coverPicture?.mediaUrl 
                : './assets/default-game.jpg'">
              <source media="(min-width: 768px)" [srcset]="game.coverPicture?.mediaUrl 
                ? 'http://localhost:9000/nexus-backend/games/upload/download/' + game.coverPicture?.mediaUrl 
                : './assets/default-game.jpg'">
              <img 
                [src]="game.coverPicture?.mediaUrl 
                  ? 'http://localhost:9000/nexus-backend/games/upload/download/' + game.coverPicture?.mediaUrl
                  : './assets/default-game.jpg'" 
                [alt]="game.name"
              />
            </picture>
          </div>
        </a>
        <!-- Overlay content -->
        <div class="slide-overlay">
          <div class="slide-description">
            <h6 class="slide-title text-light">{{ game.name }}</h6>
            <div class="slide-info">
              <span class="slide-status">Avaialble</span>
              <span class="slide-details">{{ game.description }}</span>
            </div>
          </div>
          <div class="slide-offer">
            <div class="price-section" *ngIf="game.price">
              <div class="discount">
                <span class="discount-tag">{{ game.price }}</span>
              </div>
              <div class="price-details">
                <span class="original-price">{{ game.price }}</span>
                <span class="current-price">{{ game.price }}</span>
              </div>
            </div>
            <div class="action-buttons">
              <a href="" class="play-button">
                <span> Buy </span>
              </a>
              <button class="wishlist-button" aria-label="Add to Wishlist">
                <svg aria-hidden="true" class="wishlist-icon" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M12.75 8.5a.75.75 0 0 0-1.5 0v2.75H8.5a.75.75 0 0 0 0 1.5h2.75v2.75a.75.75 0 0 0 1.5 0v-2.75h2.75a.75.75 0 0 0 0-1.5h-2.75z"></path>
                  <path d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25M3.75 12a8.25 8.25 0 1 1 16.5 0 8.25 8.25 0 0 1-16.5 0" clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
                <span>Add to Wishlist</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thumbnail Slider -->
  <div class="keen-slider thumbnail" #thumbnailRef>
    <div *ngFor="let game of games; let i = index" class="keen-slider__slide" [ngClass]="'number-slide' + game.id">
      <div class="thumbnail-content">
        <div class="thumbnail-image">
          <img class="e-game-image" 
               [src]="game.coverPicture?.mediaUrl 
               ? 'http://localhost:9000/nexus-backend/games/upload/download/' + game.coverPicture?.mediaUrl 
               : './assets/default-game.jpg'"
               [alt]="game.name" />
        </div>
        <span class="thumbnail-title">{{ game.name }}</span>
        <div class="progress-bar">
          <div class="progress-fill" [ngClass]="{ active: i === currentSlide }"></div>
        </div>
      </div>
    </div>
  </div>
</div>
