<div class="friend-list">
    <h3>Liste des amis</h3>

    <div *ngIf="friends.length === 0" class="text-center">
        <p>Aucun ami trouvé.</p>
    </div>

    <div *ngIf="friends.length > 0">
        <!-- Conteneur Flex pour afficher les amis en ligne -->
        <div class="d-flex flex-wrap">
            <div *ngFor="let friend of friends" class="card mb-3 me-3" style="width: 200px;">
                <div class="card-body d-flex align-items-center">
                    <!-- Vérification que friend.id n'est pas null avant d'accéder à imageUrls -->
                    <img *ngIf="friend.id !== null; else defaultImage"
                        [src]="imageUrls[friend.id] || '../../assets/img/profilepic.jpg'" alt="Profile"
                        class="profile-img rounded-circle" width="50" height="50">

                    <!-- Si friend.id est null, afficher une image par défaut -->
                    <ng-template #defaultImage>
                        <img [src]="'../../assets/img/profilepic.jpg'" alt="Profile" class="profile-img rounded-circle"
                            width="50" height="50">
                    </ng-template>

                    <div class="ms-3">
                        <h5 class="card-title">{{ friend.firstName }} {{ friend.lastName }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>