<video autoplay loop muted class="background-video">
  <source src="https://shared.fastly.steamstatic.com/store_item_assets/steam/clusters/frontpage/a547ffda6c006d95f57368e1/webm_page_bg_english.webm?t=1740677467" type="video/webm">
  Your browser does not support the video tag.
</video>
<div class="featured-container">
<div >Discover Something New</div>
<div class="carousel-container">
    <app-games-carousel></app-games-carousel>
  </div>
</div> 
<div class="games-list-container">
  <app-games-list></app-games-list>
</div>