<div class="featured-container">
  <div >Browse by category</div>
  
  <ul class="glassmorphic-list list-group list-group-horizontal position-relative overflow-auto w-75" >
    <li class="list-group-item" (click)="goToPage(category)" *ngFor="let category of availableCategories">{{ category.name }}</li>
  </ul>
  
  </div>
  
  <video autoplay loop muted class="background-video">
    <source src="../../../assets/webm/webm_page_bg_english.mp4" type="video/webm">
    Your browser does not support the video tag.
  </video>
  
    <div class="featured-container">
  
  
  <div class="featured-container">
  <div >Featured Games</div>
  <div class="carousel-container">
      <app-games-carousel></app-games-carousel>
    </div>
  </div> 
  
  
  
  <div class="games-list-container">
    <app-games-list></app-games-list>
  </div>
  </div>