<div class="room-container">
    <h2 class="header">Rooms Management</h2>
  
    <!-- Error message -->
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  
    <!-- Create room for a specific ticket -->
    <div class="create-room">
      <h3>Create Room for Ticket</h3>
      <div class="form-group">
        <label for="ticketId">Ticket ID:</label>
        <input type="number" id="ticketId" #ticketIdInput class="form-control">
      </div>
      <button (click)="createRoom(+ticketIdInput.value)" class="btn-primary">Create Room</button>
    </div>
  
    <hr>
  
    <!-- List of rooms -->
    <div *ngIf="rooms.length > 0" class="rooms-list">
      <h3>Existing Rooms</h3>
      <ul>
        <li *ngFor="let room of rooms" class="room-item">
          <p>
            <strong>Room Link:</strong>
            <a [href]="room.lien" target="_blank" class="link">{{ room.lien }}</a>
          </p>
          
          <p>
            <strong>Username:</strong>
            {{ room.user?.firstName || 'No user available' }}
          </p>
  
          <p>
            <strong>TicketID:</strong>
            {{ room.ticket?.id || 'No ID available' }}
          </p>
          
        
          <button (click)="closeRoom(room.ticket?.id)" class="btn-warning">Close Room</button>
        </li>
      </ul>
    </div>
    
  