<div class="admin-games-container">
    <h2>🎮 Game Management Panel</h2>
  
    <div style="display: flex; justify-content: flex-end;">
    <div class="text-end mb-3">
      <button class="btn btn-outline-success" (click)="navigateToCreate()">➕ Create Game</button>
    </div>

    <div class="text-end mb-3">
      <button class="btn btn-outline-success" (click)="navigateToCreateBrowser()">➕ Create Browser Game</button>
    </div>

    <div class="text-end mb-3">
      <button class="btn btn-outline-success" (click)="navigateToCreateEmulated()">➕ Create Emulated Game</button>
    </div>
  </div>
  
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Cover</th>
            <th>Name</th>
            <th>Description</th>
            <th>Platform</th>
            <th>Price</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let game of data">
            <td>
              <img [src]="game.coverPicture?.mediaUrl 
                ? 'http://localhost:9000/nexus-backend/games/upload/download/' + game.coverPicture?.mediaUrl 
                : './assets/default-game.jpg'" 
                alt="{{ game.name }}" class="img-thumbnail" />
            </td>
  
            <td>
              <span class="game-name" (click)="OnSelect(game)">
                {{ game.name }}
              </span>
            </td>
  
            <td>{{ game.description }}</td>
            <td>{{ game.platforms }}</td>
            <td>{{ game.price | currency }}</td>
            <td>{{ game.createdAt | date: 'shortDate' }}</td>
  
            <td>
              <button class="btn btn-primary btn-sm me-1" (click)="editGame(game)" title="Edit">✏️</button>
              <button class="btn btn-danger btn-sm me-1" (click)="deleteGame(game)" title="Delete">🗑️</button>
              <button class="btn btn-warning btn-sm" (click)="generateKey(game)" title="Generate Key">🔑</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  