<div class="chat-container">

    <!-- Message de bienvenue -->
    <div class="welcome-message section-card">
        <h2 class="section-title" style="color: bisque;">Welcome to the Public Chat!</h2>
        <p class="welcome-text">This is the public space of our platform. Please respect others, stay kind, and enjoy
            your conversations!</p>
    </div>

    <!-- Liste des messages -->
    <ul class="message-list">
        <li *ngFor="let msg of messages; trackBy: trackById"
            [ngClass]="{ 'sent': msg.senderId === currentUserId, 'received': msg.senderId !== currentUserId }">
            <div class="message-card">
                <div class="message-header">
                    <strong>{{ getUserNameById(msg.senderId) }}</strong>
                </div>
                <div class="message-content">
                    {{ msg.content }}
                </div>
                <div class="message-timestamp">
                    <small>{{ msg.timestamp | date:'short' }}</small>
                </div>
            </div>
        </li>
    </ul>

    <!-- Zone d'envoi de message -->
    <div class="message-input">
        <textarea id="messageContent" [(ngModel)]="messageContent" placeholder="Type your message..."></textarea>
        <button class="btn btn-send" (click)="sendMessage()">Send</button>
    </div>

</div>