.chat-container {
    padding: 40px 30px;
    background: linear-gradient(to bottom right, #1a1c29, #202233);
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    color: #eaeaea;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome-message {
    margin-bottom: 20px;
    text-align: center;
}

.welcome-text {
    font-size: 1rem;
    color: #a0a0b0;
}

.message-list {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-list li {
    display: flex;
    margin-bottom: 15px;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.message-card {
    width: 20%;
    height: 15%;
    min-height: 60px;
    /* pour éviter d’être trop petit */
    background-color: #2b2d42;
    border-radius: 12px;
    padding: 10px;
    color: #e0e0e0;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sent .message-card {
    background-color: #353759;
}

.received .message-card {
    background-color: #2b2d42;
}

.message-header {
    font-size: 0.8rem;
    margin-bottom: 5px;
    color: #ffc107;
}

.message-content {
    font-size: 0.9rem;
    word-break: break-word;
    flex-grow: 1;
}

.message-timestamp {
    text-align: right;
    font-size: 0.7rem;
    color: #888;
}

.message-input {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #3a3b4f;
    padding-top: 15px;
}

.message-input textarea {
    flex: 1;
    resize: none;
    border-radius: 12px;
    border: 1px solid #3a3b4f;
    background-color: #2b2d42;
    color: #eaeaea;
    padding: 10px;
    font-size: 1rem;
}

.message-input textarea::placeholder {
    color: #888;
}

.btn-send {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-send:hover {
    background: linear-gradient(to right, #0072ff, #00c6ff);
    transform: scale(1.05);
}