<app-header></app-header>


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <hr>
            <div class="text-center mt-4">
                <h4>Photo de profil</h4>

                <div *ngIf="imageUrl; else noImage">
                    <img [src]="imageUrl" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;">
                </div>
                <ng-template #noImage>
                    <p>Aucune photo disponible.</p>
                </ng-template>
            </div>


            <div class="card shadow p-4">
                <h2 class="text-center">User Profile</h2>

                <div *ngIf="user">
                    <h4>Profile Details:</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Email:</strong> {{ user.email }}
                        </li>
                        <li class="list-group-item">
                            <strong>Phone:</strong> {{ user.phoneNumber }}
                        </li>
                        <li class="list-group-item">
                            <strong>Address:</strong> {{ user.address }}
                        </li>
                        <li class="list-group-item">
                            <strong>Created At:</strong> {{ user.createdAt | date }}
                        </li>
                    </ul>
                </div>

                <div *ngIf="errorMessage" class="text-danger mt-3">
                    {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>
</div>