<div class="admin-media-container">
  <h2 class="text-center mb-4">
    <i class="fa-solid fa-photo-film me-2"></i> All Entry Media
  </h2>

  <div class="media-grid">
    <div class="media-card" *ngFor="let media of mediaList">
      <div class="media-preview" [ngClass]="media.type.toLowerCase()">
        <ng-container [ngSwitch]="media.type">
          <img *ngSwitchCase="'SCREENSHOT'" [src]="media.url" />
          <video *ngSwitchCase="'VIDEO'" [src]="media.url" controls></video>
          <img *ngSwitchDefault [src]="media.url" />
        </ng-container>

        <div class="media-type-badge">
          {{ media.type }}
        </div>
      </div>

      <div class="media-footer">
        <small class="entry-ref">
          🔗  ID: <b>#{{ media.id }}</b>
        </small>
        <button class="btn btn-sm btn-danger mt-2" (click)="deleteMedia(media.id!)">
          <i class="fa-solid fa-trash"></i> Delete
        </button>
      </div>

    

      
    </div>
  </div>
  
</div>

