<div class="title featured-container">
  <div>{{name}}</div>
</div>



  
  <div class="games">  
    <div *ngFor="let game of games">
      <div class="game" (click)="OnSelect(game)">
        <div class="game-thumb-container" *ngIf="game">
          <img class="game-thumbnail" 
          [src]="game.coverPicture?.mediaUrl 
          ? 'http://localhost:9000/nexus-backend/games/upload/download/' + game.coverPicture?.mediaUrl 
          : './assets/default-game.jpg'"
  alt="Game Cover"
                              alt="{{game.name}}" />
        
        
          <!-- Show 'No image' only if gameMediaList exists but is empty or first item has no mediaUrl -->
        </div>
        
        <div class="game-description">
          <p class="game-name"> test{{ game.name }}</p>
          <div class="text-muted" style="margin-bottom: 2px;">{{ game.description }}</div>
          <div class="game-platforms">
            <div style="margin-right: 5px;">{{ game.price }} TND</div> 
            <img
             *ngFor="let gamePlatform of game.platforms"            
              class="game-platform"

              src="assets/images/platforms/{{ gamePlatform }}.svg"
              alt="{{ gamePlatform }}"
            />
          </div> 
        </div>
      </div>
    </div> 
  </div>