
<ng-template #content let-modal>
  <div class="modal-header">
    <h5  id="exampleModalLabel">Your game category has been successfully added</h5>

  </div>
  <div class="modal-body">
<p class="text-center text-dark">
    Your game category has been successfully added to the database. You can now view it on the dashboard or continue adding more game categories.
</p>    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="navigateToDashboard()">Go to dashboard</button>
  </div>
</ng-template>

<div class="">
  <button class="btn btn-primary" (click)="navigateToDashboard()">Back to dashboard</button>
</div>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg" style="width: 70vw;">
      <div class="card-body">
        <h4 class="card-title text-center mb-4 text-light">{{title}}</h4>
        <img src="../../assets/img/symbol_only_white.svg" style="width:20px; display:flex; margin-left: auto; margin-right:auto;" alt="">
  
        <form class="background-dark" [formGroup]="gameCategoryForm" (ngSubmit)="onSubmit()">
          <!-- Game Name -->
          <div> 
            
          <div class="form-group">
            <label for="gameName">Name</label>
            <input formControlName="name" type="text" class="form-control" id="gameName" placeholder="Super Mario Bros">
          </div>
          <span *ngIf="gameCategoryForm.controls['name'].hasError('required') && gameCategoryForm.controls['name'].touched" class="login-error" style="color: red">
            You must include a valid description element.
          </span>
  
          <!-- Description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control" id="description" rows="3"
              placeholder="Enter game description"></textarea>
          </div>
          <span *ngIf="gameCategoryForm.controls['description'].hasError('required') && gameCategoryForm.controls['description'].touched" class="login-error" style="color: red">
            You must include a valid description element.
          </span>
  
  
        </div>

          <button  type="submit"
          (click)="open(content)" 
          [class.disabled]=" gameCategoryForm.invalid || gameCategoryForm.pristine || gameCategoryForm.pending"
          class="next-btn">Submit</button>
         
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
  
        </form>
      </div>
    </div>
  </div>
  
  
  