<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" data-bs-toggle="offcanvas" href="#sidebarMenu" role="button" aria-controls="sidebarMenu">
      <img src="../../assets/img/symbol_only_white.svg" alt="x" width="30" height="24"
        class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarColor01">
      <ul class="navbar-nav">
        <!-- Mobile Profile Dropdown -->
        <li class="nav-item d-xl-none d-lg-none">
          <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="profileDropdownMobile" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="imageUrl || '../../assets/img/profilepic.jpg'" alt="Profile" class="profile-img">
            <span class="ms-2">{{ user.username }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdownMobile">
            <li><a class="dropdown-item" [routerLink]="['/user-profile']">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">Cart</a></li>
            <li><a class="dropdown-item" href="#">Wallet</a></li>
            <li><a class="dropdown-item" href="#">Friends</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>

          </ul>
        </li>

        <!-- Navigation -->
        <li class="nav-item"><a class="nav-link active" href="#">Store</a></li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/community']">Community</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin" href="#">Dev Studio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/jams">Game Jams</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/market">Market</a>
        </li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'/support-tickets'">Support</a></li>

        <!-- Friends Dropdown (Desktop only) -->
        <li class="nav-item dropdown d-none d-md-block">
          <a class="nav-link dropdown-toggle" href="#" id="friendsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Friends
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="friendsDropdown">
            <li><a class="dropdown-item" [routerLink]="['/your-friends']">Your Friends</a></li>
            <li><a class="dropdown-item" [routerLink]="['/friend-requests']">Friend Requests</a></li>
          </ul>
        </li>

        <!-- Messagerie -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chat']">Chat</a>
        </li>
      </ul>

      <!-- Right-side desktop section -->
      <div class="d-none d-xl-block d-lg-block">
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <!-- Cart -->
          <li class="nav-item me-3">


            <a class="nav-link cart-icon" href="#">
              <i class="fas fa-shopping-cart"></i>
              <span class="cart-badge">3</span>
            </a>
          </li>

          <!-- Desktop Profile Dropdown -->
          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="profileDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="imageUrl || '../../assets/img/profilepic.jpg'" alt="Profile" class="profile-img">
            </a>
            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-width customdropdownmenu"
              aria-labelledby="profileDropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['/user-profile']">
                  <div class="d-flex align-items-center">
                    <img [src]="imageUrl || '../../assets/img/profilepic.jpg'" alt="Profile"
                      class="profile-img-dropdown">
                    <div class="ms-3">
                      <div class="fw-bold">{{ user.displayName }}</div>
                      <div class="text-muted">{{ user.username }}</div>
                    </div>
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" [routerLink]="['/user-profile']">Profile</a></li>
              <li><a class="dropdown-item" [routerLink]="['/edit-profile']">Account Settings</a></li>
              <li><a class="dropdown-item" [routerLink]="['/library']">Games Library</a></li>



              <li><a class="dropdown-item" routerLink="/admin" href="#">Dev Studio</a></li>
              <li><a class="dropdown-item" href="#">Payment Management</a></li>
              <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#redeemCodeOffcanvas" role="button"
                  aria-controls="redeemCodeOffcanvas">Use a Code</a></li>

              <li><a class="dropdown-item" href="#">Game Library</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Side Navigation -->
<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
  <div class="offcanvas-header">
    <h5 class=" text-light d-inline-block align-text-top" id="sidebarMenuLabel">Dev Studio</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-box"></i> Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categories" href="#"><i class="fas fa-tags"></i> Game Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-users"></i> Users</a>
      </li>
    </ul>

  </div>
</div>
<!-- Offcanvas for Redeem Code -->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="redeemCodeOffcanvas"
  aria-labelledby="redeemCodeOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="text-light" id="redeemCodeOffcanvasLabel">Redeem Code</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="gameKeyForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="codeInput" class="form-label text-light">Enter your code:</label>
        <input formControlName="keyCode" type="text" class="form-control" id="codeInput"
          placeholder="Enter the code here">
      </div>
      <div *ngIf="successMessage" class="text-success mb-3">
        {{ successMessage }}
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-danger mb-3">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary">Redeem</button>
    </form>
  </div>
</div>