<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/symbol_only_white.svg" alt="x" width="30" height="24"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarColor01">
      <ul class="navbar-nav">
        <!-- Mobile Profile Dropdown -->
        <li class="nav-item d-xl-none d-lg-none">
          <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="profileDropdownMobile" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="imageUrl || '../../assets/img/profilepic.jpg'" alt="Profile" class="profile-img">
            <span class="ms-2">{{ user.username }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdownMobile">
            <li><a class="dropdown-item" [routerLink]="['/user-profile', user.id]">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">Cart</a></li>
            <li><a class="dropdown-item" href="#">Wallet</a></li>
            <li><a class="dropdown-item" href="#">Friends</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
        <!-- Navigation -->
        <li class="nav-item"><a class="nav-link active" href="#">Store</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Community</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>


        <li class="nav-item dropdown d-none d-md-block">
          <a class="nav-link dropdown-toggle" href="#" id="friendsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Friends
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="friendsDropdown">
            <li><a class="dropdown-item" [routerLink]="['/your-friends', user.id]">Your Friends</a></li>
            <li><a class="dropdown-item" [routerLink]="['/friend-requests', user.id]">Friend Requests</a></li>
          </ul>
        </li>

        <!-- Ajout du lien de messagerie -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chat', user.id]">Chat</a>
        </li>


      </ul>

      <!-- Right-side desktop section -->
      <div class="d-none d-xl-block d-lg-block">
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <!-- Cart -->
          <li class="nav-item me-3">
            <a class="nav-link cart-icon" href="#"><i class="fas fa-shopping-cart"></i><span
                class="cart-badge">3</span></a>
          </li>

          <!-- Desktop Profile Dropdown -->
          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="profileDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="imageUrl || '../../assets/img/profilepic.jpg'" alt="Profile" class="profile-img">
            </a>
            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-width customdropdownmenu"
              aria-labelledby="profileDropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['/user-profile', user.id]">
                  <div class="d-flex align-items-center">
                    <img [src]="imageUrl || '../../assets/img/profilepic.jpg'" alt="Profile"
                      class="profile-img-dropdown">
                    <div class="ms-3">
                      <div class="fw-bold">{{ user.displayName }}</div>
                      <div class="text-muted">{{ user.username }}</div>
                    </div>
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" [routerLink]="['/edit-profile', user.id]">Account Settings</a></li>

              <li><a class="dropdown-item" href="#">Payment Management</a></li>
              <li><a class="dropdown-item" href="#">Use a Code</a></li>
              <li><a class="dropdown-item" href="#">Game Library</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>