.jam-details-view {
    text-align: center;
  }
  
  .modal-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .jam-details-list {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .jam-details-list li {
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  