<div *ngIf="jam" class="jam-details-view">
  <h2 class="card-title text-center">{{ jam.name }}</h2>
  <img *ngIf="jam.imageUrl" [src]="jam.imageUrl" class="modal-img" />

  <ul class="jam-details-list">
    <li><i class="fas fa-calendar-alt"></i> {{ jam.devStartDate | date:'dd/MM/yyyy' }}</li>
    <li><i class="fas fa-hourglass-end"></i> {{ jam.devEndDate | date:'dd/MM/yyyy' }}</li>
    <li>
      <i class="fas fa-poll"></i>
      Voting: {{ jam.voteStartDate | date:'dd/MM/yyyy' }} - {{ jam.voteEndDate | date:'dd/MM/yyyy' }}
    </li>
    <li><i class="fas fa-trophy"></i> Reward: {{ jam.reward }}</li>
  </ul>
</div>
