<div class="container my-5">
  <div class="row">
    <!-- Game Image Section -->
    <div class="col-md-6 text-center">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel Inner -->
        <div class="carousel-inner">
          
          <div class="carousel-item" *ngFor="let media of game?.gameMediaList; let i = index" [class.active]="i === 0">
            <ng-container  *ngIf="media.gameMediaType === 'SCREENSHOT'">
            <img [src]="'http://localhost:9000/nexus-backend/games/upload/download/' + media.mediaUrl" class="d-block w-100" alt="error">
          </ng-container>

          </div>
        </div>
      
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <!-- Thumbnails -->
      <div class="thumbnail-container d-flex justify-content-center mt-3">
        <div class="thumbnail"  *ngFor="let media of game?.gameMediaList; let i = index" (click)="setActiveSlide(i)">
          <ng-container  *ngIf="media.gameMediaType === 'SCREENSHOT'">
          <img [src]="'http://localhost:9000/nexus-backend/games/upload/download/' + media.mediaUrl" class="rounded" alt="thumbnail">
        </ng-container>
        </div>
      </div>
     
    </div>



    <!-- Game Details Section -->
    <div class="col-md-6">
      <div  *ngFor="let media of game?.gameMediaList; let i = index" [class.active]="i === 0">
        <ng-container  *ngIf="media.gameMediaType === 'BANNER'">
        <img [src]="'http://localhost:9000/nexus-backend/games/upload/download/' + media.mediaUrl" class="d-block w-100" alt="error">
      </ng-container>

      </div>      <h1 class="text-light">{{ game.name }}</h1>
      <p class="text-muted">Released on: {{ game.createdAt | date:'longDate' }}</p>

      <p class="text-light">
        <strong>Description:</strong> {{ game.description }}
      </p>

      <p class="text-light">
        <strong>Platforms:</strong> {{ game.platforms }}
      </p>

      <p class="text-light">
        <strong>Categories:</strong>
        <span *ngFor="let category of game.categories; let isLast = last">
          {{ category.name }}<span *ngIf="!isLast">, </span>
        </span>
      </p>

      <h3 class="text-primary">${{ game.price }}</h3>

      <button class="btn btn-primary btn-lg mt-3 buy-button">Buy Now</button>
    </div>
  </div>


</div>